
h1{
    text-align: center;
}

img{
    max-width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.video{
    text-align: center;
}

section {
    text-align: center;
}