h1{
    text-align: center;
    color: lightgray;
}
body {
    background-color: black;
}


img{
    max-width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.video{
    text-align: center;
}

section {
    text-align: center;
    color: lightgray;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

h2{
    color: White;
    text-align: center;
    font-size: 40px;
}

li {
  float: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

footer {
    clear: both;
    color: lightblue;
    height: 50px;
    background-color: #2c363b;
    font-size: 12px;
    text-align: right;
    padding: 10px;
}
